<table
  matSort
  mat-table
  [dataSource]="sortedData"
  aria-label="Running leaderboard"
  class="mat-elevation-z8"
>
  <caption class="cdk-visually-hidden">
    Running leaderboard sorted by finish time
  </caption>
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>Full Name</th>
    <td mat-cell *matCellDef="let element">{{ element | fullName }}</td>
  </ng-container>

  <ng-container matColumnDef="nationality">
    <th mat-header-cell *matHeaderCellDef>Nationality</th>
    <td mat-cell *matCellDef="let element">
      <img
        [ngSrc]="element.nationalityUrlImage"
        alt="Runner nationality flag"
        width="32"
        height="32"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="timeUsedInMillisecond">
    <th
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
      sortActionDescription="Sort by finish time"
    >
      Time
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.timeUsedInMillisecond | timeMinSecondMilliSecond }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
  <tr mat-row *matRowDef="let row; columns: columnDefs"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="columnDefs.length">No runners have been added yet.</td>
  </tr>
</table>
