<h2 mat-dialog-title>Add runner who finished the race</h2>
<mat-dialog-content>
  <form>
    <div>
      <app-general-input
        [input]="runnerForm.firstName"
        label="First Name"
        errorMessage="Enter a first name"
      />
    </div>
    <div>
      <app-general-input
        [input]="runnerForm.lastName"
        label="Last Name"
        errorMessage="Enter a last name"
      />
    </div>
    <div>
      <ng-country-select
        requiredErrorMessage="Select the runner's nationality"
        [showRequiredErrorMessage]="true"
        [required]="true"
        [formField]="runnerForm.nationality"
        placeholder="What is runner nationality?"
      />
    </div>
    <div>
      <app-time-used-for-finnish-running (somethingChange)="onTimeChange($event)" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="cancelCallback()">Cancel</button>
  <button matButton (click)="save()" [disabled]="runnerForm().invalid()">Save</button>
</mat-dialog-actions>
