<h2 mat-dialog-title>Add runner who finished the race</h2>
<mat-dialog-content>
  <form [formGroup]="inputGroup">
    <div>
      <app-general-input
        [input]="inputGroup.controls.firstName"
        label="First Name"
        errorMessage="Enter a first name"
      />
    </div>
    <div>
      <app-general-input
        [input]="inputGroup.controls.lastName"
        label="Last Name"
        errorMessage="Enter a last name"
      />
    </div>
    <div>
      <ng-country-select
        requiredErrorMessage="Select the runner's nationality"
        [showRequiredErrorMessage]="true"
        [required]="true"
        [formControl]="inputGroup.controls.nationality"
        placeholder="What is runner nationality?"
      />
    </div>
    <div>
      <app-time-used-for-finnish-running (somethingChange)="onTimeChange($event)" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="cancelCallback()">Cancel</button>
  <button matButton (click)="save()" [disabled]="inputGroup.invalid">Save</button>
</mat-dialog-actions>
